body {
    margin: 0;
}

.swap-button {
    background: url("images/swap-icon.svg");
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.swap-button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .swap-button {
        transform: rotate(90deg);
    }
}
